$primary_color : #1a1a1a;
$secondary_color : #e7a554;

$text_wite : #c0c4c3;
$text_dark : #252a31;

$breakpoint_mobile : 320px;
$breackpoint_movileRotate : 665px;
$breakpoint_tablet : 768px;
$breakpoint_desktop : 1024px;



