.error {
  background-color: rgb(254 226 226);
  text-align: center;
  border: rgba(243, 176, 176, 0.658) solid 1px;
  border-radius: .25rem;
  color: rgba(165, 42, 42, 0.733);
  text-transform: uppercase;
  padding: .5rem;
}