@import './variables/variables';

.contenedor {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;

  @media (min-width: 590px) {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media (min-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media (min-width: 980px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
  }
  
  .enlaces {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    
    .enlace {
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 700;
      color: $primary_color;
      transition: all 0.3s ease-in-out;
      padding: .5rem 1rem;
      background-color: $secondary_color;
      border-radius: 0.5rem;
      
      &:hover {
        background-color: $primary_color;
        color: $secondary_color;
      }
    }
    
  }
  
}